<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_truyen_do_an"
        tools:targetApi="31">
        <activity
            android:name=".ui.toi.doi_mk"
            android:exported="false" />
        <activity
            android:name=".ui.toi.Thong_tin_tai_khoan"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App_truyen_do_an">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.toi.dangky"
            android:exported="false" />
        <activity
            android:name=".ui.tim_kiem.tim_ten_truyen"
            android:exported="false" />
        <activity
            android:name=".ui.profile_truyen.anhchuong"
            android:exported="false" />
        <activity
            android:name=".ui.tim_kiem.tim_the_loai"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".ui.profile_truyen.thong_tin_truyen"
            android:exported="false" />
    </application>

</manifest>